@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply dark:bg-black bg-white text-black dark:text-white;
  }
}

@layer components {
  .page-container {
    @apply mx-auto w-full max-w-lg px-5;
  }
  .img-cover {
    @apply w-full h-full object-cover;
  }
  .nav-item {
    @apply flex items-center gap-3 p-[12px] transition-all dark:hover:bg-SlateGray rounded-md cursor-pointer hover:bg-blue-500 hover:bg-opacity-10 hover:text-ElectricBlue dark:hover:text-white;
  }
  .loadingSpin {
    @apply border-white flex items-center justify-center mx-auto bg-transparent border-4 border-t-[10px] border-t-transparent rounded-full animate-spin w-[100px] h-[100px];
  }
  .icon-image {
    @apply flex items-center justify-center transition-all hover:bg-black hover:text-white cursor-pointer text-xl text-white bg-black bg-opacity-50 w-[40px] h-[40px] rounded-full;
  }
  .icon-post-setting {
    @apply text-lg flex items-center justify-center w-[35px] h-[35px] hover:bg-[#ccc] dark:hover:bg-SlateGray rounded-full cursor-pointer;
  }
}

/* ==================================================== */

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Custom swiper */
:root {
  --swiper-navigation-size: 14px !important;
  --swiper-theme-color: #0095f6 !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: #0095f6;
  right: 10px;
  padding: 18px;
  border-radius: 100rem;
  color: #fff !important;
  fill: black !important;
  stroke: black !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #1877f2;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: 600;
}
